tbody {
    display:block;
    height: 75vh;
    overflow:auto;
    font-family: sans-serif;

}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    padding: 0px 5px;
    white-space: pre;
    font-family: monospace; 

}
/* thead {
    width: calc( 100% - 1em )
} */
table {
    width:100%;
}